<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    <link rel="icon" type="/image/png" href="/images/Logo-pes.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/media.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/add.css">
    <link rel="stylesheet" href="/product.css">
</head>