<!DOCTYPE html>
<html lang="en">
    {{>head}}
<body>
    {{>navbar}}

    {{{body}}}

    <div id="offline-alert">
      <h1>404</h1>
      <p>No internet connection. Please check your network 👀</p>
      <img src="/images/Logo-error.png" alt="" width="100">
    </div>

    {{>footer}}
</body>
</html>