<div class="container">
  <div class="section-box">
    <div class="section_1 text-center">
      <div>
        <h1>Welcome to ePesAccount Website
          <img src="/images/Logo-pes.png" alt="" width="50" /></h1>
        <p>Bu yerda siz o'z ePes o'yni dagi accountlarizga mijozlar topshingiz
          va ajoyib accountlar sotib olishingiz mumkin</p>
      </div>
      <div class="img">
        <img src="/images/Devise.png" alt=""/>
      </div>
    </div>

    <div class="section_2 text-center">
      <div>
        <h1>Web sayt haqida tushncha</h1>
      </div>

      <div class="text-start title-info">
          {{!-- <img class="rounded-3" src="/images/Pes.jpg" alt="" width="250" /> --}}
        <p>
          <span class="fs-2">📄</span> Bu sayt orqali siz o'z accountingizni sotishingiz uchun birnchi bo'lib Ro'yxatdan o'tib olasiz
          <i><b>Agar ePesFootball accountingizni sotmoqchi bo'lsangiz </b></i>
          Add sahifasiga kirib u yerda nimalarni qo'shasiz ? <br/>
          <b>1</b> - Accountingiz bo'yicha "title" yani sarlavha qo'shasiz. <br>
          <b>2</b> - Descriptions yani accountingiz haqida ma'lumot berasiz. <br>
          <b>3</b> - Telegram usernameingizni qo'shasiz bu sizga mijozlar bilan bog'lanish uchun kerak bo'ladi. <br>
          <b>4</b> - Accountingizning rasmini yuklaysiz. <br>
          <b>5</b> - Accountingizning narxini qo'shasiz. <br>
          <b>6</b> - Accountingizni Score yani ballini qo'shasiz ⭐. <br>
          <b>7</b> - Keyin esa <span class="btn btn-dark btn-sm">Add</span> tugmasini bosasiz va accountingiz joylanadi.
          <br> <br>
          Yokida <i><b>account sotib olmoqchi</b></i> bo'lsangiz "All account's" sahifasiga o'tasiz va
          o'zingizga yoqadigan accountni tanlaysiz va <btn class="btn btn-color btn-sm">message</btn> tugmasini bosib user kiritgan telegram username orqali bog'lanasiz.
        </p>
      </div>
    </div>

    <div class="section_3">
      <div class="text-center">
        <h1>Biz bilan bog'laning</h1>
        <p>Biz bilan bog'lanish uchun quyidagi tugmani bosing.
          Agar sizda hali hisobingiz bo'lmasa ro'yxatdan o'ting
        </p>
        <p class="text-center"></p>
        <div class="text-center">
        <a href="https://t.me/yakhshimurotov_25" class="btn btn-dark me-2">Contact Me 📱</a>
        <a href="/signup" class="btn btn-color">Ro'yxatdan o'tish</a>
      </div>
    </div>
    </div>

    <footer class="bg-dark text-white mt-5 p-4 rounded-3">
      <div class="text-center">
        <p>© 2025 ePesAccount. All rights reserved.</p>
        <p>Developed by Yakhshimurotov</p>
      </div>
    </footer>

  </div>
  {{! © 2017–2025  }}
</div>