<div class="container">
  <div class="box-login">
    <div class="login">
      <form action="/login" method="post">
       <h1 class="mb-4">Login</h1>
        <div class="mb-3">
          <input
            name="email"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Email address"
          />
        </div>
        <div class="mb-3">
          <input
            name="password"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="password"
          />
        </div>
        <button type="submit" class="btn btn-dark mt-3">Submit</button>
         {{#if isLoginError}}
          <p class="error">{{isLoginError}} ⚠️</p>
         {{/if}}  
      </form>
    </div>
  </div>
</div>