<div class="container">
  <div class="box-signup">
    <div class="left">
      <img src="images/messi.png" alt="" width="400px">
    </div>
    <div class="signup">
      <form action="/signup" method="post">
        <h1 class="mb-4">Sign-up</h1>
        <div class="mb-3">
          <input
            name="firstName"
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="First Name"
          />
        </div>
        <div class="mb-3">
          <input
            name="lastName"
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="Last Name"
          />
        </div>
        <div class="mb-3">
          <input
            name="email"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Email address"
          />
        </div>
        <div class="mb-3">
          <input
            name="password"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
          />
        <button type="submit" class="btn btn-dark mt-3">Submit</button>
        <button type="reset" class="btn btn-dark mt-3">Reset</button>
        </div>
          {{#if isSignupError}}
          <p class="error">{{isSignupError}} ⚠️</p>
          {{/if}} 
      </form>
    </div>
  </div>
</div>