
html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #6FFF21; /* Orqa fon rangi */
    color: black;              /* Matn rangi */
  }

  ::-webkit-scrollbar {
    display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* border-radius: 20px; */
    display: none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: #222; 
    border-radius: 20px; */
    display: none;
  }

body {
    background-color: #eeeeee;
    padding-top: 7em;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    cursor: default;
}

/* Loading ------ styel */
.loader {
    background-color: #00000066;
    backdrop-filter: blur(15px);
}

.loader .loader-obj {
    color: #6FFF21;
}
/* Loading ------ styel */

/* Login ------ styel */
.box-login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
}

.login {
    background-color: #fff;
    width: 400px;
    border-radius: 10px;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.login form input::placeholder {
    font-size: 13px;
}

.login form h1 {
    font-size: 30px;
}

.login form input {
    width: 250px;
    transition: all .3s;
}

.login form input:focus {
    border: 1px solid #6FFF21;
    box-shadow: 0px 0px 0px 5px #d5ffbe;
}
/* Login ------ styel */

.login .signup, form .error {
    font-size: 13px;
    padding: 10px;
    position: relative;
    top: 2em;
    background-color: #ffd5d5;
    color: #222;
    border-radius: 7px;
}

/* SignUp ------ styel */
.box-signup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
}

.signup {
    background-color: #fff;
    width: 400px;
    border-radius: 10px;
}

.signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.signup form input::placeholder {
    font-size: 13px;
}

.signup form input {
    width: 250px;
    transition: all .3s;
}

.signup form input:focus {
    border: 1px solid #6FFF21;
    box-shadow: 0px 0px 0px 5px #d5ffbe;
}

.signup form h1 {
    font-size: 30px;
}

/* SignUp ------ styel */


header {
    background-color: #fffa;
    backdrop-filter: blur(20px);
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px 10px 20px;
    border-radius: 0 0 15px 15px;
}

header .btn-box a .btn-login {
    background-color: #222;
    border: 1px solid #222;
    color: #fff;
}

header .btn-box a .btn-login:active {
    background-color: #222;
    border: 1px solid #222;
    color: #fff;
}

header a > img {
    width: 60px;
    transition: all .3s;
}

header a > img:hover {
    scale: 1.1;
    transform: rotate(10deg);
}

header ul .a-color {
    /* color: #6FFF21; */
    color: #222;
    margin-left: 10px;
    font-size: 14px;
}

header ul .a-active {
    background-color: #222;
    border-radius: 10px;
    color: #fff;
}

header ul .a-color:hover {
    background-color: #222;
    border-radius: 10px;
    color: #fff;
}

header a {
    color: #222;
}

header a:hover {
    color: #222;
}