body {
    background: #eeeeee;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* Login ------ styel */
.box-login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
}

.login {
    background-color: #fff;
    width: 400px;
    border-radius: 10px;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.login form input::placeholder {
    font-size: 14px;
}

.login form h1 {
    font-size: 30px;
}

.login form input {
    width: 250px;
}

/* Login ------ styel */


.login .signup, form .error {
    font-size: 13px;
    padding: 10px;
    background-color: #ebebeb;
    position: relative;
    top: 2em;
    color: #0a58ca;
    border-radius: 7px;
}

/* SignUp ------ styel */
.box-signup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
}

.signup {
    background-color: #fff;
    width: 400px;
    border-radius: 10px;
}

.signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.signup form input::placeholder {
    font-size: 14px;
}

.signup form input {
    width: 250px;
}

.signup form h1 {
    font-size: 30px;
}

/* SignUp ------ styel */

header a > img {
    background-color: #222;
    width: 40px;
    border-radius: 100%;
}